@page "/travelagency/tours/details/{id:int}"

<div style="margin: auto; width: 60%">

    <Title Level="2">Dane wycieczki</Title>

    @if (string.IsNullOrEmpty(Message) == false)
    {
        <div class="alert alert-danger">
            @Message
        </div>
    }

    @if (Tour == null)
    {
        <p>Ładowanie danych...</p>
    }
    else
    {
        <Descriptions Bordered Layout="@DescriptionsLayout.Horizontal">
            <DescriptionsItem LabelStyle="width: 30%" Span="3" Title="Nazwa">@tour.Name</DescriptionsItem>
            <DescriptionsItem Span="3" Title="Data rozpoczęcia">@tour.TimeStart.ToShortDateString()</DescriptionsItem>
            <DescriptionsItem Span="3" Title="Data zakończenia">@tour.TimeEnd.ToShortDateString()</DescriptionsItem>
            <DescriptionsItem Span="3" Title="Całkowity koszt">@tour.EntireCost</DescriptionsItem>
            <DescriptionsItem Span="3" Title="Termin wpłaty całej kwoty">@tour.EntireAmountPaymentDeadline.ToShortDateString()</DescriptionsItem>
            <DescriptionsItem Span="3" Title="Koszt zaliczki">@tour.AdvancePaymentCost</DescriptionsItem>
            <DescriptionsItem Span="3" Title="Termin wpłaty zaliczki">@tour.AdvancePaymentDeadline.ToShortDateString()</DescriptionsItem>
        </Descriptions>

        <div style="margin-top: 2%">
            <Button Type="@ButtonType.Primary" Size="@ButtonSize.Large" OnClick="@(()=>EditTour(tour.Id))">
                Edytuj
            </Button>

            <Popconfirm Placement="@Placement.Top" Title="Czy na pewno chcesz usunąć tą wycieczkę?" CancelText="Anuluj" OkText="Tak, usuń" OnConfirm="@(() => DeleteTour(tour.Id))">
                <Button Danger Type="@ButtonType.Primary" Size="@ButtonSize.Large">
                     Usuń
                 </Button>
             </Popconfirm>
         </div>
    }
</div>

