@page "/travelagency/tours/"

<h3>Wycieczki</h3>


@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

@if (Tours == null)
{
    <p>Ładowanie danych...</p>
}
else
{
    <GridRow>
        <GridCol Span="8">
            <Search Placeholder="Wyszukaj" ClassicSearchIcon @bind-Value="SearchText" BindOnInput="true" Size="large" />
         </GridCol>
         <GridCol Span="8">
             <Button Type="@ButtonType.Primary" Size="@ButtonSize.Large" OnClick="CreateTour" Style="margin-left: 10%">
                 Nowa wycieczka
             </Button>
         </GridCol>
     </GridRow>


    <table class="table" style="margin-top: 10px">
        <thead>
            <tr>
                <th>
                    Nazwa wycieczki
                </th>
                <th>
                    Data rozpoczęcia
                </th>
                <th>
                    Data zakończenia
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var tour in FilteredTours)
            {
                <tr>
                    <td>@tour.Name</td>
                    <td>@tour.TimeStart.ToShortDateString()</td>
                    <td>@tour.TimeEnd.ToShortDateString()</td>
                    <td>
                        <Button Type="@ButtonType.Primary" Size="@ButtonSize.Large" Icon="caret-right" OnClick="@(() => ToggleParticipantsList(tour.Id))">
                            @GetParticipantsActionText(tour.Id)
                        </Button>
                        <Button Type="@ButtonType.Default" Size="@ButtonSize.Large" OnClick="@(() => TourDetails(tour.Id))">
                            Szczegóły
                        </Button>
                    </td>
                </tr>

                @if (!ParticipantsListCollapsedStates[tour.Id])
                {
                    <tr>
                        <td colspan="4">
                            <div style="width: 80%; background:#ECECEC; padding:30px; margin-bottom: 5%; margin:auto">
                                <Card Bordered="false">
                                    <Body>
                                        <TourParticipants TourId="tour.Id" TourName="@tour.Name"/>
                                    </Body>
                                </Card>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
}




