@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

@if (Participants == null)
{
    <p>Ładowanie danych...</p>
}
else if (Participants.Count == 0)
{
    <Title Level="4">Ten kurs nie ma jeszcze żadnych przypisanych klientów.</Title>
}
else
{
    <h3>Uczestnicy @CourseName</h3>

    <GridRow>
        <GridCol Span="8">
            <Search Placeholder="Wyszukaj" ClassicSearchIcon @bind-Value="SearchText" BindOnInput="true" Size="large" />
         </GridCol>
     </GridRow>


    <table class="table" style="margin-top: 10px">
        <thead>
            <tr>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var customer in FilteredCustomers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>
                        <Button Type="@ButtonType.Primary" Size="@ButtonSize.Large" OnClick="@(() => CustomerCourses(customer.Id))">
                            Zarządzaj kursami
                        </Button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}