@page "/customers/"

<h3>Klienci</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="CreateCustomer" class="btn btn-success">Dodaj klienta</button>
</div>

@if(string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

@if(Customers == null)
{
    <p>Ładowanie danych...</p>
}
else
{
    <table class="table">

        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach(var customer in Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>
                       @*  <button @onclick=@(() => )>
                            
                        </button> *@
                        <button @onclick="@(() => EditCustomer(customer.Id))" class="btn btn-warning">Edytuj</button>
                        <button @onclick="@(() => CustomerDetails(customer.Id))" class="btn btn-info">Szczegóły</button>
                        <button @onclick="@(() => DeleteCustomer(customer.Id))" class="btn btn-danger">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}


